@import "global.css";

.wrapper {
    background: #7F7FD5; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
    padding: 10em;
}
.container {
    background-color: #fff;
    padding: 5em;
}
.custom-upload {
    padding: 4em 3em;
    cursor: pointer;
    border-radius: 20px;
    width: 100%;
    border: 2px dashed #f1f1f1;
    text-align: center;
}
@media screen and (max-width: 570px) {
    .wrapper {
        padding: 5em 1em;
        height: auto;
    }
}
